
.DS_Store
.idea
*.tfstate
*.tfstate.*
**.terraform
**.terraform.lock.*
**google_credentials.json
**logs/
**.env
**__pycache__/
.history
**/ny_taxi_postgres_data/*
serving_dir
.ipynb_checkpoints/
!week_6_stream_processing/avro_example/data/rides.csv
dataenginzoomvenv

01-docker-terraform/2_docker_sql/output.csv.gz
secrets

##Terraform related files to not version
# Terraform state
*.tfstate
*.tfstate.backup

# Crash log
crash.log

# Terraform working dir
.terraform/

# Sensitive variable files
*.tfvars
*.tfvars.json

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Local credentials or plan files
terraform.tfplan
.terraform.lock.hcl

02-workflow-orchestration/flows/Tripdata
*.pptx
Data/data
.vscode
05-batch/code/taxi+_zone_lookup.csv
lib
